@media only screen and (min-width: 300px) {

div.visu {
	min-height: 100px;
	height: 100%;
	width: 80%;
	border:2px solid lightsteelblue;
	overflow-y:auto;
	float: left;

	margin-right: auto;
	margin-left: auto;
}


div.menu {
	min-height: 100px;
	height: 100%;
	width: 19.8%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	border:2px solid lightsteelblue;

}

div.menu12 {

	height: 49.4%;
	width: 49.4%;
	border:1px solid green;
	overflow-y:auto;
	float: left;

	margin-right: auto;
	margin-left: auto;
}
div.c {

	height: 99.7%;
	width: 99.7%;
	border:1px solid red;
	overflow-y:auto;
	float: left;

	margin-right: auto;
	margin-left: auto;
}

@media only screen and (min-width: 768px) {
div.visu {

	height: 100%;
	width: 100%;
	border:2px solid lightsteelblue;
	overflow-y:auto;
	float: left;

	margin-right: auto;
	margin-left: auto;
}


div.menu {
	min-height: 100px;
	height: 100%;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	border:2px solid lightsteelblue;

}


div.menu12 {

	height: 49.4%;
	width: 49.4%;
	border:1px solid green;
	overflow-y:auto;
	float: left;

	margin-right: auto;
	margin-left: auto;
}
div.c {

	height: 99.7%;
	width: 99.7%;
	border:1px solid red;
	overflow-y:auto;
	float: left;

	margin-right: auto;
	margin-left: auto;
}

}


}

@media only screen and (min-width: 1000px) {

div#socle {
	left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

div#visuSocle {
	height: 100%;
	width: 80%;
	border:2px solid lightsteelblue;
	float: left;
	margin-right: auto;
	margin-left: auto;
}

div#menuSocle {
	height: 100%;
	width: 19.4%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	border:2px solid lightsteelblue;
}

div.visu {

	height: 100%;
	width: 100%;
	border:2px solid lightsteelblue;
	overflow-y:auto;
	float: left;
	margin-right: auto;
	margin-left: auto;
}

div#visu1 {

	height: 100%;
	width: 100%;
	float: left;
	margin-right: auto;
	margin-left: auto;
}

div#visuScatter {
	height: 49.5%;
	width: 100%;
	border:2px solid lightsteelblue;
	overflow-y:auto;
	float: left;
	margin-right: auto;
	margin-left: auto;
}

div#visuPC {
	height: 49.5%;
	width: 100%;
	border:2px solid lightsteelblue;
	overflow-y:auto;
	float: left;
	margin-right: auto;
	margin-left: auto;
}

div#visuSpider {
	height: 49.5%;
	width: 100%;
	border:2px solid lightsteelblue;
	overflow-y:auto;
	float: left;
	margin-right: auto;
	margin-left: auto;
}

div.menu {
	height: 100%;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	border:2px solid lightsteelblue;
}


div.menu1 {

	height: 49.5%;
	width: 100%;
	border:1px solid yellow;
	overflow-y:auto;
	float: left;

	margin-right: auto;
	margin-left: auto;
}

div.menu2 {

	height: 49.5%;
	width: 100%;
	border:1px solid yellow;
	overflow-y:auto;
	float: left;

	margin-right: auto;
	margin-left: auto;
}

div.menu111 {

	height: 50%;
	width: 100%;
	border:1px solid green;
	overflow-y:auto;
	float: left;

	margin-right: auto;
	margin-left: auto;
}
div.menu112 {

	height: 100%;
	width: 49%;
	border:1px solid green;
	overflow-y:auto;
	float: left;

	margin-right: auto;
	margin-left: auto;
}

div.c {

	height: 99.7%;
	width: 99.7%;
	border:1px solid red;
	overflow-y:auto;
	float: left;

	margin-right: auto;
	margin-left: auto;
}

button#magic2 {
	position: fixed;
	width: 50px;
	height: 20px;
    bottom: 1;
    left: 0;
}

button#magic {
	position: fixed;
	width: 100px;
	height: 20px;
    bottom: 1;
    left: 0;
}

}